footer.footer
    .footer__social
        svg
            use(href="/assets/icons.svg#icon-facebook-with-circle")
        svg
            use(href="/assets/icons.svg#icon-instagram-with-circle")
        svg
            use(href="/assets/icons.svg#icon-twitter-with-circle")
    hr
    p.footer__description Embark on a journey through the annals of history with Timeless Trails.Discover ancient wonders, delve into storied pasts, and unravel the mysteries of civilizations long gone. Let us guide you through the footsteps of time.
    nav.footer__nav-links
        a(href="#" class="footer__link") Resources
        a(href="#" class="footer__link") About Us
        a(href="#" class="footer__link") FAQ
        a(href="#" class="footer__link") Contact